	#if ($item.canRead($user))
		<!-- Sequence: 15 -->
		<li class="yuimenuitem yuimenuitem-hassubmenu structuralQcMenu">
		    <a class="yuimenuitemlabel yuimenuitemlabel-hassubmenu structuralQcItem" href="#structuralqcbox">Structural QC</a>
		    <DIV ID="structuralqcbox" class="yuimenu">
		        <DIV class="bd">
		            <ul class="first-of-type" style="width:230px;max-width:230px">
		            </ul>
		        </DIV>
		    </DIV>
		</li>
		<script type="text/javascript" src="$content.getURI("scripts/structuralQC/structuralQC.js")"></script>
		<link type="text/css" rel="stylesheet" href="$content.getURI("style/structuralQC/structuralQC.css")">
		<script type="text/javascript">
			//CCF.structuralQC.omID = "${om.getId()}";
			setTimeout(function(){
		#if ($item.canEdit($user))
				$(".structuralQcMenu").find("ul").append(
		 			'<li class="yuimenuitem first-of-type structuralQcLink runStructuralQc" style="margin-bottom:2px;display:none">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.runStructuralQC()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Run Structural QC</a>' +
					'</li>'
				);
		#end
				$(".structuralQcMenu").find("ul").append(
		 			'<li class="yuimenuitem first-of-type structuralQcLink structuralQcDownload" style="margin-bottom:2px">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.downloadStructuralQC()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Download Structural QC</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink setupHandEdit" style="margin-bottom:2px">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.setupHandEditing()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Initiate Hand Editing</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink refreshHandEdit" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.refreshHandEditing()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Refresh Hand Editing (Get New Files)</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink downloadHandEdit" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.downloadHandEditingFiles()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Download Hand Editing Files</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink uploadHandEdit" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.uploadHandEditingFiles()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Upload Hand Edited Files</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink launchPreprocPipeline" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.launchPreprocPipeline()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Launch Preproc Pipeline</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink runStructuralQcHandEdit" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.runStructuralQcHandEdit()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>(Re)run StructuralQC on HandEdit Output</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink replacePreprocResults" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.replacePreprocResults()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Replace Prior Preproc Results</a>' +
					'</li>' +
		 			'<li class="yuimenuitem first-of-type structuralQcLink checkProcessingStatus" style="margin-bottom:2px;display:none;">' +
		     			'	<a class="yuimenuitemlabel" href="#" ONMOUSEDOWN="CCF.structuralQC.checkProcessingStatus()"><div class="ic">&nbsp;</div><div class="ic_spacer">&nbsp;</div>Check Processing Status</a>' +
					'</li>'
				);
				CCF.structuralQC.checkShowLink();
			},250);
		</script>
	#end
