
.strucqc-processing {
	background:#FFF url('../../images/loading.gif') 50% center no-repeat; opacity: 0.8; 
	color:#339933; width:100%; height:100%; text-align:center; position:absolute;font-weight:bold; font-size:16px; z-index:999; display:inline; float:left;
}
.strucqc-complete {
	background:#FFF; opacity: 1.0; 
	color:#339933; width:100%; height:100%; text-align:center; position:absolute;font-weight:bold; font-size:16px; z-index:999; display:inline; float:left;
}
.strucqc-error {
	background:#FFF; opacity: 1.0; 
	color:#AA1111; width:100%; height:100%; text-align:center; position:absolute;font-weight:bold; font-size:16px; z-index:999; display:inline; float:left;
}

.strucqc-disabled {
	pointer-events:none; opacity:0.5;
}


